@import "tailwindcss";

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }

  /* Remove scrollbars for a cleaner PWA look */
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  *::-webkit-scrollbar {
    display: none;             /* Chrome, Safari and Opera */
  }

  body {
    background-color: var(--zinc-950);
    color: var(--zinc-50);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overscroll-behavior-y: contain; /* Prevents pull-to-refresh on mobile if desired */
  }
}
